<a href="https://colab.research.google.com/github/madhavjk/CP-Prep/blob/main/Python/array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Common arrays interview questions in Python**

 Q1 Remove even intergers from list

In [1]:
# Q1 Remove even intergers from list

def remove_even(list):
    
    for i in list:
        if i%2==0:
            list.remove(i)
            
    print(list)
    

list = [2,3,4,5,6,7,8,9,]

remove_even(list)

[3, 5, 7, 9]

Q2 Merge two sorted lists

In [2]:
list1 = [2,3,5,6]
list2 = [3,4,6,8]

list1.extend(list2)

list1

[2, 3, 5, 6, 3, 4, 6, 8]

Q3 Find minimum value in a list

In [17]:
import sys

def min(a,n):
  res = sys.maxsize

  for i in range(n):

    if a[i]<res:
      res = a[i]

  return res

arr = [3,-4,6,7,8,1,-2]
n = len(arr)

min(arr,n)

-4

Q4 Maximum sum sublist

In [18]:
def maxsublist(a, n):

  
  res = 0
  l = []

  for i in range(n):
    sum = 0

    for j in range(i,n):
      
      sum = sum + a[j]
  

      if sum>res:


        res = sum
      
  return res

a = [-2,1,-3,7,-2,2,1,-5,4]
n = len(a)
maxsublist(a,n)

8

Q5 Print products of all elements

In [2]:
def product(a):

  prod =  1

  for i in a:
    prod = prod*i

  return prod

a = [3,2,5,6,7]

product(a)

1260